<div class= "main_chat_top">
テストてすとあああああああああああああああああああああああああああああああああああああああああああああああ
</div>

<div class="main_chat_middle">
テストてすと----------------------------------------------------------------------------------
</div>

<div class="main_chat_bottom">
</div>