<div class= "main_chat_top">
  <div class="chat-about">
    hogefuga
  </div>
  <div class="chat-end">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main_chat_middle">
  <div class="content">
    <div class="chat">
      <div class="chat-name">
        Tom
      </div>
      <div class="chat-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-content">
      おはよう
    </div>
  </div>

  <div class="content">
    <div class="chat">
      <div class="chat-name">
        Tom
      </div>
      <div class="chat-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-content">
      おはよう
    </div>
  </div>
</div>

<%# <div class="main_chat_bottom">
    <div class="form-input">
      <input type="text" placeholder="type a message" class="text-form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
      <input type="submit" value="送信" class="send">
</div> %>

<%= form_with model: [@room, @message], html: {class: "main_chat_bottom"}, local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: "text-form",placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "send"%>
<% end %>