<div class="side_bar_top">
  <div class="name">
    <a href="#">Tom</a>
  </div>
  <div class="botton">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_bar_bottom">
  <div class="room">
    <div class="chat-room">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="chat-room">
      <a href="#">techroom2</a>
    </div>
  </div>

</div>